<div class="card">
  <h3>Add Student</h3>
  <div
    *ngIf="message"
    class="alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <strong>Success!</strong> Student added.
    <button
      (click)="removeAlert()"
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  <form [formGroup]="addStudent" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="name"
        placeholder="Enter your name"
        formControlName="name"
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="abc@example.com"
        formControlName="email"
      />
    </div>
    <button type="submit" class="btn btn-primary me-3">Submit</button>
    <button type="button" class="btn btn-danger" (click)="onCancel()">
      Cancel
    </button>
  </form>
</div>
