<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div
          *ngIf="message"
          style="position: relative"
          class="alert alert-success alert-dismissible fade show"
          role="alert"
        >
          <strong>Success!</strong> Student Registered.
          <button
            (click)="removeAlert()"
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
            style="
              position: absolute;
              right: 10px;
              width: fit-content;
              margin: 0;
            "
          ></button>
        </div>
        <div class="text-center">
          <h2>Register</h2>
          <h6>Please enter details to register yourself</h6>
        </div>
        <form [formGroup]="registerForm" (ngSubmit)="register()">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              id="name"
              placeholder="Name"
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['name'].dirty &&
                registerForm.hasError('required', 'name')
              "
              >*Name is required</span
            >
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              id="email"
              placeholder="abc@example.com"
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['email'].dirty &&
                registerForm.hasError('required', 'email')
              "
              >*Email is required</span
            >
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input
              type="password"
              formControlName="password"
              class="form-control"
              id="password"
              placeholder="password"
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['password'].dirty &&
                registerForm.hasError('required', 'password')
              "
              >*Password is required</span
            >
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Confirm Password</label>
            <input
              type="password"
              formControlName="confirmPassword"
              class="form-control"
              id="password"
              placeholder="password"
            />
            <span
              class="text-danger"
              *ngIf="
                registerForm.controls['confirmPassword'].dirty &&
                registerForm.hasError('required', 'confirmPassword')
              "
              >*Confirm Password is required</span
            >
          </div>
          <button
            type="submit"
            [disabled]="!registerForm.valid"
            class="btn btn-primary"
          >
            Register
          </button>
        </form>
        <div style="text-align: center; margin-top: 10px">
          Already Registered?<a routerLink="/login">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
